@page
@model IndexModel
@{
	ViewData["Title"] = "Homepage";
}

<div class="card" style=" width: 50rem; margin-top: 20px">
	<div class="card-header">
		<h1>Carpet Cost Calculator</h1>
	</div>
	<div class="card-body">
		<form method="post">
			<div class="form-group">
				<div class="row">
					<label asp-for="@Model.CarpetInfo.RoomWidth" class="col-lg-2"></label>
					<input type="number" asp-for="@Model.CarpetInfo.RoomWidth" class="col-lg-2" />
				</div>

				<div class="row">
					<label asp-for="@Model.CarpetInfo.RoomLength" class="col-lg-2"></label>
					<input type="number" asp-for="@Model.CarpetInfo.RoomLength" class="col-lg-2" />
				</div>

				<div class="row">
					<label asp-for="@Model.CarpetInfo.SelectedCarpetName" class="col-lg-2"></label>
					<select asp-for="@Model.CarpetInfo.SelectedCarpetName" asp-items="@(new SelectList(Model.CarpetInfo.CarpetTypes, "Name", "Name"))" class="col-lg-2"></select>
				</div>

				<div class="row">
					<label asp-for="@Model.CarpetInfo.UseInstallation" class="col-lg-2"></label>
					<input type="checkbox" asp-for="@Model.CarpetInfo.UseInstallation" class="col-lg-2" />
				</div>

				<div class="row">
					<label asp-for="@Model.CarpetInfo.UseUnderlay" class="col-lg-2"></label>
					<input type="checkbox" asp-for="@Model.CarpetInfo.UseUnderlay" class="col-lg-2" />
				</div>

				<div class="row">
					<input type="submit" value="Submit" asp-action="Index" />
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer">
		<div class="row">
			<label>Result:</label>
			<p>Carpet Cost: $@Model.ResultCosts[0]</p>
			<p>Installation Cost: $@Model.ResultCosts[1]</p>
			<p>Underlay Cost: $@Model.ResultCosts[2]</p>
			<p>Total Cost: $@Model.ResultCosts[3]</p>
		</div>
	</div>
</div>
