@page
@model IndexModel
@{
	ViewData["Title"] = "Homepage";
}

<div class="card" style=" width: 50rem; margin-top: 20px">
	<div class="card-header">
		<h1>Carpet Cost Calculator</h1>
	</div>
	<div class="card-body">
		<form method="post">
			<div class="form-group">
				<div class="row">
					<label asp-for="@Model.CarpetInfo.SelectedCarpetName" class="col-auto"></label>
					<select asp-for="@Model.CarpetInfo.SelectedCarpetName" asp-items="@(new SelectList(Model.CarpetInfo.CarpetTypes, "Name", "Name"))" class="col-auto"></select>
				</div>

				<div class="row">
					<label asp-for="@Model.CarpetInfo.RoomWidth" class="col-auto"></label>
					<input type="number" asp-for="@Model.CarpetInfo.RoomWidth" class="col-auto" />

					<label asp-for="@Model.CarpetInfo.RoomLength" class="col-auto"></label>
					<input type="number" asp-for="@Model.CarpetInfo.RoomLength" class="col-auto" />
				</div>

				<div class="row">
					<label asp-for="@Model.CarpetInfo.UseInstallation" class="col-auto"></label>
					<input type="checkbox" asp-for="@Model.CarpetInfo.UseInstallation" class="col-auto" />
				</div>

				<div class="row">
					<label asp-for="@Model.CarpetInfo.UseUnderlay" class="col-auto"></label>
					<input type="checkbox" asp-for="@Model.CarpetInfo.UseUnderlay" class="col-auto" />
				</div>

				<div class="row">
					<input type="submit" value="Calculate Carpeting Costs" asp-action="Index" />
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer">
		<div class="row">
			<p>Room Size: @(Model.ResultCosts[0])m²</p>
			<p>Carpet Cost: <i>$@Model.ResultCosts[1]</i></p>
			<p>Installation Cost: <i>$@Model.ResultCosts[2]</i></p>
			<p>Underlay Cost: <i>$@Model.ResultCosts[3]</i></p>
			<p><b>Total Cost:</b> $@Model.ResultCosts[4]</p>
		</div>
	</div>
</div>
